[Unit]
Description=ZOL Daily Curator Cast Timer (hourly)
Documentation=https://github.com/bettercallzaal/zol
Requires=zol-daily.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
